extends layout

block content
    h1= "Edit dataLink"
    div.newdataLink
        form( method="post")
            input(name="_id", type="hidden", value=dataLink._id.toHexString())
            div
                div
                    label Title :
                    input(type="text", name="title", id="editdataLinkTitle", value=[title])
                div
                    label User Token :
                    input(type="text", name="usertoken", id="editdataLinkName", value=[usertoken])
                div
                    label Descrição :
                    input(type="text", name="description", id="editdataLinkName", value=[description])
                div
                    label Url da Imagem :
                    input(type="text", name="imgurl", id="editdataLinkName", value=[imgurl])
                div
                    label Link (url) :
                    input(type="text", name="link", id="editdataLinkName", value=[link])
                div
                    label Tags (separados por comma) :
                    input(type="text", name="tags", id="editdataLinkName", value=[tags])
                div#editdataLinkSubmit
                    input(type="submit", value="Update")
        a(href="/")!= "Back to dataLink List"