extends layout

block content
    h1= title
    div.newdataLink
        form( method="post")
            div
                div
                    label Titulo :
                    input(type="text", name="title", id="editdataLinkTitle")
                div
                    label User Token :
                    input(type="text", name="usertoken", id="editdataLinkName")
                div
                    label Descrição :
                    input(type="text", name="description", id="editdataLinkName")
                div
                    label Url da Imagem :
                    input(type="text", name="imgurl", id="editdataLinkName")
                div
                    label Link (url) :
                    input(type="text", name="link", id="editdataLinkName")
                div
                    label Tags (separados por comma) :
                    input(type="text", name="tags", id="editdataLinkName")
                div#editdataLinkSubmit
                    input(type="submit", value="Save")
        a(href="/")!= "lista de links"