doctype 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    header
        div.primary-content
            div.container
                h1.pull-left
                    a(href="/") Caqui JS
                p.pull-right #{numLinks} links de puro conhecimento.<br /> ... e contando.

        div.secondary-content(data-offscreen="true")
            form.container(action="/", method="get")
                label(for="txt-filter")
                    i.glyphicon.glyphicon-search
                input#txt-filter(type="search", placeholder="Filtre os resultados utilizando tags...", autofocus="autofocus", name="search")
        div.alert-news
            button.btn.btn-success(type="button")
                i.glyphicon.glyphicon-arrow-up
                span.text Wow! Já temos mais 5 links. Quer ver?

    main
        div.container
            block content
    section#footer
        footer.container © 2015 caquijs.io - Todos os direitos reservados

script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(src="js/vendor/bootstrap.min.js")
script(src="https://cdn.socket.io/socket.io-1.3.5.js")
script(src="js/plugins.js")
script(src="js/main.js")